.searchbar-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  
}
.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
}

input[type="text"] {
  border: none;
  flex-grow: 1;
  margin-right: 4px;
}

input[type="text"]:focus {
  outline: none;
}

.fa-search {
  cursor: pointer;
}
