.file-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 500px;
  border: 2px solid black ;
  border-radius: .5rem;
  padding: 10px;
  background-color: #f1f0f0;
}

.selected-file-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fbffc1;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.selected-file-container button {
  background-color: #dc143c;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

.file-select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

input[type="file"] {
  margin: 10px 0;
  width: 100%;
  height: auto;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: #7fff00;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  max-width: 150px;
  transition: .5s;
}

button:hover {
  border-radius: 1rem;
  transition: .5s;
  color: black;
}

button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

@media screen and (max-width: 600px) {
  .file-upload-container {
    margin: 10px;
  }
}
